<body class="g-sidenav-show bg-gray-200">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <app-navbar [currentScreen]="'Reclamation'"></app-navbar>
      <main class="main-content position-relative border-radius-lg">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div
                class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"
              >
                <div
                  class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3"
                >
                  <h6 class="text-white text-capitalize ps-3">
                    Liste des Reclamation
                  </h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Utilisateur
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Type Reclamation
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reclamation of reclamations">
                        <td class="align-middle text-center text-sm">
                          <span class="text-secondary font-weight-bold">{{
                            reclamation?.user?.username
                          }}</span>
                        </td>
                        <td class="align-middle text-center">
                          <span
                            *ngIf="reclamation.typeReclamation !== undefined"
                            class="text-secondary font-weight-bold"
                          >
                            {{ reclamation.typeReclamation }}
                          </span>
                        </td>
                        <td class="align-middle text-center">
                          <button
                            class="btn btn-link text-danger text-gradient px-3 mb-0"
                            (click)="deleteReclamation(reclamation)"
                          >
                            <i class="material-icons text-sm me-2">delete</i>
                            Supprimer
                          </button>
                          <button
                            class="btn btn-link text-success text-gradient px-3 mb-0"
                            (click)="openDialog(reclamation.user)"
                          >
                            <i class="material-icons text-sm me-2"
                              >assignment_turned_in</i
                            >
                            Review
                          </button>
                          <button
                            class="btn btn-link text-info text-gradient px-3 mb-0"
                            [routerLink]="[
                              '/reclamation-details',
                              reclamation.id
                            ]"
                          >
                            <i class="material-icons text-sm me-2">info</i>
                            Plus details
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-popup-dialog
          [id]="currentUser"
          [title]="'Review' | translate"
          [content]="'Do you want to submit the review' | translate"
          (send)="handleDialog($event)"
        ></app-popup-dialog>
        <app-footer-index></app-footer-index>
      </main>
    </div>
  </div>
</body>
