<body class="g-sidenav-show bg-gray-200">
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <app-navbar-index></app-navbar-index>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />
  <div class="main-content">
    <div class="container-fluid px-2 px-md-9">
      <div
        class="page-header min-height-300 border-radius-xl mt-4 position-relative"
        style=" background-image: url('../assets/imgB/fe.png');"
      >
        <span class="mask bg-gradient-primary opacity-6"></span>
        <h1
          class="text-white animated-text position-absolute top-50 start-50 translate-middle"
        >
          {{ "Modifier mot de passe" | translate }}
        </h1>
      </div>
      <div class="card card-body mx-3 mx-md-8 mt-n6">
        <div class="row">
          <div class="col-lg-11 mx-auto">
            <form
              role="form"
              [formGroup]="updatePassword"
              (ngSubmit)="update(updatePassword.value)"
            >
              <div class="input-group input-group-outline row mb-3">
                <label for="oldPassword" class="col-sm-4 col-form-label"
                  >{{ "Ancien mot de passe :" | translate }}</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="oldPassword"
                  placeholder="{{ 'Mot de passe' | translate }}"
                  id="oldPassword"
                />
              </div>
              <div
                class="text-danger mb-3"
                *ngIf="
                  updatePassword.controls['oldPassword'].hasError('required') &&
                  updatePassword.get('oldPassword')?.touched
                "
              >
                {{ "Le mot de passe est obligatoire" | translate }}
              </div>
              <div class="input-group input-group-outline row mb-3">
                <label for="newPassword" class="col-sm-4 col-form-label"
                  >{{ "Nouveau mot de passe :" | translate }}</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="newPassword"
                  placeholder="{{ 'Mot de passe' | translate }}"
                  id="newPassword"
                />
              </div>
              <div
                class="text-danger mb-3"
                *ngIf="
                  updatePassword.controls['newPassword'].hasError('required') &&
                  updatePassword.get('newPassword')?.touched
                "
              >
                {{ "Le mot de passe est obligatoire" | translate }}
              </div>
              <div class="input-group input-group-outline row mb-3">
                <label for="confirmPassword" class="col-sm-4 col-form-label"
                  >{{ "Confirmez le mot de passe :" | translate }}</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                  placeholder="{{ 'Mot de passe' | translate }}"
                  id="confirmPassword"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  updatePassword.controls['confirmPassword'].hasError(
                    'required'
                  ) && updatePassword.get('confirmPassword')?.touched
                "
              >
                {{ "Le mot de passe est obligatoire" | translate }}
              </div>
              <div
                class="text-danger"
                *ngIf="
                  updatePassword.get('confirmPassword')?.touched &&
                  updatePassword.get('confirmPassword')?.valid &&
                  updatePassword.get('confirmPassword')?.value !=
                    updatePassword.get('newPassword')?.value
                "
              >
                {{ "The password doesn’t match" | translate }}
              </div>
              <div class="text-center col-md-3 mx-auto">
                <button
                  type="submit"
                  class="btn bg-gradient-primary w-100 my-4 mb-2"
                  [disabled]="
                    isLoading ||
                    updatePassword.invalid ||
                    updatePassword.get('confirmPassword')?.value !=
                      updatePassword.get('newPassword')?.value
                  "
                >
                  {{ isLoading ? "Loading..." : "Mettre à jour" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <app-footer-index></app-footer-index>
  </div>
</body>
