<body class="g-sidenav-show bg-gray-200">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <app-navbar [currentScreen]="'Offres'"></app-navbar>
      <main class="main-content position-relative border-radius-lg">
        <div class="col-md-12 mb-lg-0 mb-4">
          <div class="card mt-4">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Liste des offres</h6>
                </div>
                <div class="col-6 text-end">
                  <a
                    class="btn bg-gradient-dark mb-0"
                    routerLink="/addOffer"
                    ><i class="material-icons text-lg">link</i
                    ><span class="ms-1">Ajouter offre</span></a
                  >
                </div>
              </div>
            </div>
            <div class="card-body p-2"></div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div
                class="card-header p-0 position-relative mt-n4 mx-3 z-index-1"
              >
                <div
                  class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 px-3"
                >
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <select class="form-select"[(ngModel)]="searchCategory" id="category" (change)="searchApartments()">
                          <option value="" selected>Select category</option>
                          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                        </select>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                       
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Nom
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Categorie
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Date Emission
                        </th>
                        <th
                          class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Nb Candidat
                        </th>
                        <th
                        class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Profil
                      </th>
                      
                      <th
                      class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Durée
                    </th>
                    <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Etat
                  </th>
                    <th
                      class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Actions
                    </th>
                    
                        <th class="text-secondary opacity-7"></th>
                        
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Candidature</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Interviews</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let offer of listOffer">
                       
                        <td>
                          <h6 class="mb-0 text-sm text-center">
                            {{ offer?.offerName ?? "_" }}
                          </h6>
                        </td>
                        <td>
                          <h6 class="mb-0 text-sm text-center">
                            {{ offer?.offreCategory ?? "_" }}
                          </h6>
                        </td>
                        <td>
                          <h6 class="mb-0 text-sm text-center">
                            {{ offer?.dateEmission }}
                          </h6>
                        </td>
                        <td>
                          <h6 class="mb-0 text-sm text-center">
                            {{ offer?.candidatnumber }}
                          </h6>
                        </td>
                        <td>
                          <h6 class="mb-0 text-sm text-center">
                            {{ offer?.candidatProfil }}
                          </h6>
                        </td>
                        <td>
                          <h6 class="mb-0 text-sm text-center">
                            {{ offer?.duree }}
                          </h6>
                        </td>
                        <td>
                          <span class="badge badge-sm"
    [class.bg-gradient-success]="offer.etatOffer === 'Approuvé'"
    [class.bg-gradient-warning]="offer.etatOffer === 'Enattente'"
    [class.bg-gradient-danger]="offer.etatOffer === 'réfusée'">
    {{ offer.etatOffer }}
</span>
                        </td>
                        <td class="align-middle">
                          <div class="ms-auto text-end">
                            <button class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;" (click)="deleteOffer(offer.idOffre)">
                              <i class="fas fa-trash text-sm me-2"></i> Supprimer
                            </button>
                            <button class="btn btn-link text-dark px-3 mb-0" [routerLink]="['/editOffer',offer.idOffre]">
                              <i class="fas fa-edit text-sm me-2"></i> Modifier
                            </button>
                          <button
                          class="btn btn-dark btn-sm"
                          [routerLink]="['/DetailOffre', offer.idOffre]"
                        >
                          details
                        </button>
                        </div>
                      </td>
                      <td><a  class="btn bg-gradient-dark" [routerLink]="['/candidat', offer?.idOffre]">
                        candidature
                      </a></td><td> <div class="col-6 text-end" >
          
                        <a  class="btn bg-gradient-dark" [routerLink]="['/listInterv', offer?.idOffre]">interviews en attentes</a>
                        <a  class="btn bg-gradient-dark" [routerLink]="['/valideInterview', offer?.idOffre]" >interview Valider</a>
                      </div></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <app-footer-index></app-footer-index>
      </main>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <script>
    var win = navigator.platform.indexOf("Win") > -1;
    if (win && document.querySelector("#sidenav-scrollbar")) {
      var options = {
        damping: "0.5",
      };
      Scrollbar.init(document.querySelector("#sidenav-scrollbar"), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
</body>
