<body lass="g-sidenav-show  bg-gray-200">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <app-navbar [currentScreen]="'Modifier Facture'"></app-navbar>
      <main class="main-content position-relative  border-radius-lg ">
        <br>
          <div class="row">
            <div class="col-12">
              <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">

                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">modifier facture </h6>
                </div>
              </div> 
              <div class="card-body px-0 pb-2">
                <div class="col-md-12 mb-lg-0 mb-4">
                  <div class="card mt-4">
                      <div class="card-header pb-0 p-3">
                        <div class="row">
                          <div class="row">
                            <form role="form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                              <div class="input-group input-group-outline mb-3">
                                <label class="col-sm-4 col-form-label">Status :&nbsp;&nbsp;&nbsp;</label>
                                <div>
                                  <input type="radio" id="validate" name="status" value="Accepted" formControlName="status">
                                  <label for="validate">Valider</label>
                                </div>
                                <div>
                                  <input type="radio" id="refuse" name="status" value="refused" formControlName="status">  <label for="refuse">Refuser</label>
                                </div>
                              </div>
                              <div class="text-danger" *ngIf="updateForm.controls['status'].errors && updateForm.get('status')?.touched">
                                <div *ngIf="updateForm.controls['status'].hasError('required')">Ce champ est obligatoire</div>
                              </div>
                              
                              <div class="input-group input-group-outline mb-3">
                                <label class="col-sm-4 col-form-label" >Commentaire :</label>
                                <input type="text" class="form-control" formControlName="comment" placeholder="commentaire">
                              </div>
                              <div class="text-danger" *ngIf="updateForm.controls['comment'].errors && updateForm.get('comment')?.touched">
                                <div *ngIf="updateForm.controls['comment'].hasError('required')">Ce champ est obligatoire</div>
                              </div>
                            
                              <div class="text-center">
                                <button type="submit" [disabled]="updateForm.invalid" (click)="update()" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Ajouter</button>
                                <button type="submit" (click)="reset()" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Cancel</button>
                              </div>
                            </form>
                            
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>

<br>

<br><br><br><br>x
<app-footer-index></app-footer-index>
</main>
</div>
</div>
<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    };
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
</body>