<body class="g-sidenav-show bg-gray-200">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <app-navbar [currentScreen]="'Dashboard'"></app-navbar>
      <main class="main-content position-relative border-radius-lg">
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-xl-3 col-sm-6">
              <div class="card">
                <div class="card-header p-3 pt-2">
                  <div
                    class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute"
                  >
                    <i class="material-icons opacity-10">diamond</i>
                  </div>
                  <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">
                      {{ "Vente des packs" | translate }}
                    </p>
                    <h4 class="mb-0">{{ forumIncomes.SumPrixPrcks }}</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0" />
                <div class="card-footer p-3">
                  <p class="mb-0">
                    <span
                      *ngIf="forumIncomes.TauxAugmentation >= 0"
                      class="text-success text-sm font-weight-bolder"
                    >
                      {{ forumIncomes.TauxAugmentation }}%
                    </span>
                    <span
                      *ngIf="forumIncomes.TauxAugmentation < 0"
                      class="text-danger text-sm font-weight-bolder"
                    >
                      {{ forumIncomes.TauxAugmentation }}%
                    </span>
                    {{ "que l'année dernière" | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div
              class="col-xl-3 col-sm-6"
              *ngIf="
                user && (user.role === 'Admin' || user.role === 'Community')
              "
            >
              <div class="card">
                <div class="card-header p-3 pt-2">
                  <div
                    class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute"
                  >
                    <a><i class="material-icons opacity-10">description</i></a>
                  </div>
                  <div class="text-end pt-1">
                    <p class="text-sm mb-0">
                      {{ "Montant total à payer :" | translate }}
                    </p>

                    <h4 class="mb-0">
                      <span
                        *ngFor="let entry of totalAmountByIndividu | keyvalue"
                      >
                        <!-- {{ entry.key }}: {{ entry.value }} -->
                        {{ entry.value }}
                      </span>
                    </h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0" />
                <div class="card-footer p-3">
                  <p class="mb-0">
                    <span class="text-danger text-sm font-weight-bolder">
                      {{ individuStatistics.AcceptedDevis }}
                    </span>
                    {{ "devis a payé" | translate }}
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6">
              <div class="card">
                <div class="card-header p-3 pt-2">
                  <div
                    class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
                  >
                    <a routerLink="/offre"
                      ><i class="material-icons opacity-10">local_offer</i></a
                    >
                  </div>
                  <div class="text-end pt-1">
                    <p class="text-sm mb-0">
                      {{ "Les offres en attentes" | translate }}
                    </p>
                    <br />
                    <h4 class="mb-0">+{{ OffreEnAttente }}</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0" />
                <div class="card-footer p-3"></div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="card">
                <div class="card-header p-3 pt-2">
                  <div
                    class="icon icon-lg icon-shape bg-gradient-danger shadow-danger text-center border-radius-xl mt-n4 position-absolute"
                  >
                    <i class="material-icons opacity-10">people</i>
                  </div>
                  <div class="text-end pt-1">
                    <p class="text-sm mb-0">
                      {{ "Nombre des utilisateurs" | translate }}
                    </p>
                    <br />
                    <h4 class="mb-0">{{ totalUsers }}</h4>
                  </div>
                </div>
                <hr class="dark horizontal my-0" />
                <div class="card-footer p-3"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
              <div class="card z-index-2">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="mb-0">{{ "Offres par Categorie" | translate }}</h4>

                  <canvas id="pie-chart-offer"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
              <div class="card z-index-2">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="mb-0">
                    {{ "Condidatures par Offre" | translate }}
                  </h4>
                  <canvas id="pie-chart-candidat"></canvas>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="user && user.role === 'Admin'"> -->
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
              <div class="card z-index-2">
                <div class="card z-index-2">
                  <div class="card-body d-flex flex-column align-items-center">
                    <h4 class="mb-0">{{ "Suivi des demandes" | translate }}</h4>

                    <canvas
                      id="individuChart"
                      width="400"
                      height="400"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
              <div class="card z-index-2">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="mb-0">
                    {{ "Nombre d'utilisateurs par role" | translate }}
                  </h4>
                  <canvas id="pie-chart" class="mt-3"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
              <div class="card z-index-2">
                <div class="card-body d-flex flex-column align-items-center">
                  <h4 class="mb-0 text-center">
                    {{ "Nombre des Réclamation par type" | translate }}
                  </h4>
                  <canvas id="reclamation-chart" class="mt-3"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mb-4">
              <div class="card h-100">
                <div class="card-header pb-0">
                  <h6>{{ "Suivi des pack" | translate }}</h6>
                </div>
                <div class="card-body p-3">
                  <div class="timeline timeline-one-side">
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="material-icons text-success text-gradient"
                          ><img
                            style="width: 30px; height: 30px"
                            src="../../../assets/img/icons/diamant.png"
                            alt="Diamond Logo"
                        /></i>
                      </span>
                      <div class="timeline-content">
                        <h6 class="text-dark text-sm font-weight-bold mb-0">
                          Diamond
                        </h6>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Platinum.Percentage | number : "1.2-2"
                          }}%
                        </p>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Diamond.Revenue
                              | currency : "TND" : "symbol" : "1.2-2"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="material-icons text-danger text-gradient"
                          ><img
                            style="width: 30px; height: 30px"
                            src="../../../assets/img/icons/platinum.png"
                            alt="Diamond Logo"
                        /></i>
                      </span>
                      <div class="timeline-content">
                        <h6 class="text-dark text-sm font-weight-bold mb-0">
                          Platinum
                        </h6>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Platinum.Percentage | number : "1.2-2"
                          }}%
                        </p>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Platinum.Revenue
                              | currency : "TND" : "symbol" : "1.2-2"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="material-icons text-info text-gradient"
                          ><img
                            style="width: 30px; height: 30px"
                            src="../../../assets/img/icons/lingot-dor.png"
                            alt="Diamond Logo"
                        /></i>
                      </span>
                      <div class="timeline-content">
                        <h5 class="text-dark text-sm font-weight-bold mb-0">
                          Gold
                        </h5>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{ packIncomes.Gold.Percentage | number : "1.2-2" }}%
                        </p>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Gold.Revenue
                              | currency : "TND" : "symbol" : "1.2-2"
                          }}%
                        </p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="material-icons text-warning text-gradient"
                          ><img
                            style="width: 30px; height: 30px"
                            src="../../../assets/img/icons/silver.png"
                            alt="Diamond Logo"
                        /></i>
                      </span>
                      <div class="timeline-content">
                        <h5 class="text-dark text-sm font-weight-bold mb-0">
                          Silver
                        </h5>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Silver.Percentage | number : "1.2-2"
                          }}%
                        </p>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Silver.Revenue
                              | currency : "TND" : "symbol" : "1.2-2"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="material-icons text-primary text-gradient"
                          ><img
                            style="width: 30px; height: 30px"
                            src="../../../assets/img/icons/star_616489.png"
                            alt="Diamond Logo"
                        /></i>
                      </span>
                      <div class="timeline-content">
                        <h5 class="text-dark text-sm font-weight-bold mb-0">
                          {{ "Personalisé" | translate }}
                        </h5>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Personalized.Percentage
                              | number : "1.2-2"
                          }}%
                        </p>
                        <p
                          class="text-secondary font-weight-bold text-xs mt-1 mb-0"
                        >
                          {{
                            packIncomes.Personalized.Revenue
                              | currency : "TND" : "symbol" : "1.2-2"
                          }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-footer-index></app-footer-index>
      </main>
    </div>
  </div>
</body>
