<main class="main-content mt-0">
  <div
    class="page-header align-items-start min-vh-100"
    style="
      background-image: url('../assets/imgB/bg.jpeg');
    "
  >
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row my-3">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div
                class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1"
              >
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  {{ "S'inscrire" | translate }}
                </h4>
                <div class="row mt-3">
                  <div class="col-2 text-center ms-auto">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-facebook text-white text-lg"></i>
                    </a>
                  </div>
                  <div class="col-2 text-center px-1">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-github text-white text-lg"></i>
                    </a>
                  </div>
                  <div class="col-2 text-center me-auto">
                    <a class="btn btn-link px-3" href="javascript:;">
                      <i class="fa fa-google text-white text-lg"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form
                [formGroup]="signUpForm"
                (ngSubmit)="register(signUpForm)"
                class="text-start"
              >
                <div class="input-group input-group-outline my-3">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="username"
                    placeholder="{{ 'Pseudo-nom' | translate }}"
                  />
                </div>
                <div
                  class="text-danger my-3"
                  *ngIf="
                    signUpForm.get('username')?.invalid &&
                    signUpForm.get('username')?.touched
                  "
                >
                  {{ 'Ce champ est obligatoire' | translate }}
                </div>
                <div class="input-group input-group-outline my-3">
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="E-mail"
                  />
                </div>
                <div
                  class="text-danger my-3"
                  *ngIf="
                    signUpForm.get('email')?.hasError('required') &&
                    signUpForm.get('email')?.touched
                  "
                >
                  {{ 'Ce champ est obligatoire' | translate }}
                </div>
                <div
                  class="text-danger my-3"
                  *ngIf="
                    signUpForm.get('email')?.hasError('email') &&
                    signUpForm.get('email')?.touched
                  "
                >
                  {{ "Ce n'est pas un e-mail correct" | translate }}
                </div>
                <div class="input-group input-group-outline mb-3">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="{{ 'Mot de passe' | translate }}"
                  />
                </div>
                <div
                  class="text-danger my-3"
                  *ngIf="
                    signUpForm.get('password')?.invalid &&
                    signUpForm.get('password')?.touched
                  "
                >
                  {{ 'Le mot de passe est obligatoire' | translate }}
                </div>
                <div class="input-group input-group-outline mb-3">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="confirmPassword"
                    placeholder="{{ 'Confirmez le mot de passe' | translate }}"
                  />
                </div>
                <div
                  class="text-danger my-3"
                  *ngIf="
                    signUpForm.controls['confirmPassword'].hasError(
                      'required'
                    ) && signUpForm.get('confirmPassword')?.touched
                  "
                >
                  {{ 'Le mot de passe est obligatoire' | translate }}
                </div>
                <div
                  class="text-danger my-3"
                  *ngIf="
                    signUpForm.get('confirmPassword')?.touched &&
                    signUpForm.get('confirmPassword')?.valid &&
                    signUpForm.get('confirmPassword')?.value !=
                      signUpForm.get('password')?.value
                  "
                >
                  {{ 'Le mot de passe ne correspond pas' | translate }}
                </div>
                <div class="input-group input-group-outline mb-3">
                  <select class="form-select" formControlName="role">
                    <option value="" disabled selected>{{ 'Select Role' | translate }}</option>
                    <option *ngFor="let role of roles" [value]="role">
                      {{ role }}
                    </option>
                  </select>
                </div>
                <div
                  *ngIf="
                    signUpForm.get('role')!.value &&
                    societyRole.includes(signUpForm.get('role')!.value)
                  "
                >
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="matricule"
                      placeholder="{{ 'Matricule' | translate }}"
                    />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="adresse"
                      placeholder="{{ 'Adresse' | translate }}"
                    />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="representative"
                      placeholder="{{ 'Représentant(e)' | translate }}"
                    />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="sector"
                      placeholder="{{ 'Secteur' | translate }}"
                    />
                  </div>
                </div>

                <div
                  *ngIf="
                    signUpForm.get('role')!.value &&
                    individuRole.includes(signUpForm.get('role')!.value)
                  "
                >
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="identity"
                      placeholder="{{ 'Identité' | translate }}"
                    />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="firstName"
                      placeholder="{{ 'Prénom' | translate }}"
                    />
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="lastName"
                      placeholder="{{ 'Nom' | translate }}"
                    />
                  </div>
                </div>
                <div class="text-center">
                  <button
                    type="submit"
                    class="btn bg-gradient-primary w-100 my-4 mb-2"
                    [disabled]="
                      isLoading ||
                      signUpForm.invalid ||
                      signUpForm.get('confirmPassword')?.value !=
                        signUpForm.get('password')?.value
                    "
                  >
                    {{ isLoading ? "Loading..." : "S'inscrire" | translate }}
                  </button>
                </div>
                <p class="mt-4 text-sm text-center">
                  {{ "Vous avez déjà un compte?" | translate }}
                  <a
                    routerLink="/signIn"
                    class="text-primary text-gradient font-weight-bold"
                    >{{ "Se connecter" | translate }}</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
